* text=auto eol=lf

*.bmp binary
*.docx binary
*.exe binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.sqlite binary
*.sqlite3 binary
*.woff binary
*.woff2 binary
*.zip binary
